.venv/
venv/

__pycache__/
**/__pycache__/
*.py[cod]

.pytest_cache/
.mypy_cache/
.ruff_cache/

tests/

datos/
*.db
*.sqlite
*.sqlite3

.git/
.gitignore

Dockerfile
.dockerignore

README.md

*.pyc
*.pyo
